{% extends "admin/change_form.html" %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        .easy-go-btn {
            color: #447e9b;
            text-decoration: none;
            cursor: pointer;
        }
        #content-main{
            transition: all 0.5s ease;
            float: right;
        }

        #content-main.slide{
            float: right;
            width: 75%;
        }

        .easy-go {
            transition: all 0.5s ease;
            float: left;
            width: 0;
            display: none;
            height: 100%;
            overflow: hidden;
            display: inline-block;
        }

        .easy-go-input-wrap{
            margin-bottom: 20px;
        }

        .easy-go .item{
            width: 18em;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            display: block;
            padding: 10px;
            cursor: pointer;
        }

        .easy-go .item:hover, .easy-go .item:active, .easy-go .item.active{
            background: #447e9b;
            color: #fff;
        }

        .easy-go.slide{
            width: 25%;
        }
    </style>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        $(function(){
            $(document).on("keypress", function(e){
                var code = e.keyCode || e.which;
                if (code == 13 || code == 40 || code == 38){
                    return false;
                }
                if (code == 103){
                    activate_easy_out();
                }
            });
            $(".easy-go-btn").on("click", function(){
                activate_easy_out();
            });
        });

        function activate_easy_out(){

            $("#content-main").toggleClass("slide");
            $(".easy-go").toggleClass("slide");
            var input = $(".easy-go-input");
            if (!$(".easy-go").hasClass("slide")){
                input.blur()
                return false
            }
            $.ajax({
                type: 'GET',
                url: "/admin/books/book/api/",
                dataType: "json",
                success: function(data){
                    $(".easy-go .item").remove();
                    $.each(data.results, function(i, item){
                        var result_item = $("<a\>", {"href": item.detail_page, "class": "item"}).text(item.name).clone()
                        console.log(result_item);
                        $(".easy-go").append(result_item);
                        $(".easy-go .item").first().addClass("active")

                    });
                }
            });
            input.focus();


            input.on("keyup", function(e){
                var code = e.keyCode || e.which;
                if (code == 13 || code == 40 || code == 38){
                    return false;
                }
                var val = $(e.target).val();
                $.ajax({
                    type: 'GET',
                    url: "/admin/books/book/api/",
                    data: {
                        "q" : val
                    },
                    dataType: "json",
                    success: function(data){
                    $(".easy-go .item").remove();
                    $.each(data.results, function(i, item){
                        var result_item = $("<a\>", {"href": item.detail_page, "class": "item"}).text(item.name).clone()
                        console.log(result_item);
                        $(".easy-go").append(result_item);
                        $(".easy-go .item").first().addClass("active")

                    });
                    }
                });
            });

            input.on("keydown", function(e){
                var code = e.keyCode || e.which;
                if(code == 13) {
                    window.location.href = $(".easy-go .item.active").attr("href");
                }

                var current_item = $(".easy-go .item.active");
                if (code == 40){
                    $(".easy-go .item").removeClass("active");
                    current_item.next().addClass("active");
                }

                if (code == 38){
                    $(".easy-go .item").removeClass("active");
                    current_item.prev().addClass("active");
                }
            });
        }

    </script>
{% endblock %}

{% block content %}
    <a class="easy-go-btn">Easy Go</a>
    <div class="easy-go">
        <div class="easy-go-input-wrap">
            <input type="text" class="vTextField easy-go-input">
        </div>
    </div>
    {{ block.super }}
{% endblock %}

